@use '../../styles/mediaQueries.scss' as *;

.movieThumbnail {
  text-align: left;
  height: 200px;
  width: 80vw;
  display: flex;
  padding: 24px;
  gap: 8px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);

  @include media(smallScreen) {
    flex-direction: column;
    height: 500px;
    justify-content: center;
  }

  img {
    object-fit: contain;
    max-width: 200px;
    max-height: 100%;
    width: auto;
    height: auto;

    @include media(smallScreen) {
      max-width: 150px;
      margin: auto;
    }
  }

  .details {
    min-width: 0;

    .overview {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
